@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #050b14;
  --panel: #0b1220;
  --border: #10203a;
  --blue: #1e90ff;
  --text: #c7d2fe;
}

html, body, #root {
  background-color: var(--bg);
  color: var(--text);
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue) transparent;
}
