@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #020617;
  --text: #e5e7eb;
}

.dark {
  background-color: var(--bg);
  color: var(--text);
}

body {
  background: var(--bg);
  color: var(--text);
}
